/*Importing the font of choice from google being "Lato"*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*Comprehensive Description of stylesheet
1. Root Settings
2. Body & Html Settings
3. Navbar
4. Hero Section
5. Offer Grid
6. Meny Grid
7. Contact form Styling
8. Footer Styling
9. Media querries
*/

/*1. Root Settings*/

/*Here I use * in order for every component of the html document to get effected by what is written below*/
* {
    font-family: Lato;

    /*Below I use border-box to remove any invisible borders and margins*/
    box-sizing: border-box;

    /*Below I declare my color pallete for the comming styling*/

    --one: #8A5D36;
    --two: #292718;
    --three: #634125;
    --four: #000F0D;
    --white: #ffffff;
    scroll-behavior: smooth;
}
/*2. Body and html Settings*/
body, html {
    /*Making sure margin & padding is removed*/
    margin:0;
    padding:0;
    /*Ensuring that width overflow is hidden*/
    overflow-x: hidden;
    height:100%;
    background-color: var(--three);
}
/*3. Navbar*/
/*Move the navbar to the right aswell as move items to the middle of the menu section*/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    position: fixed;
    align-items: center;
    margin: 0 auto;
    background: var(--two);
    z-index:999;
    top:0;
    left:0;
}
/*Change the size/color of the companyname*/
.companyname {
    font-size: 1.5rem;
    color:var(--white);
    font-weight: bold;
    margin-left: 2vw;
}
/*Configure the navbar*/
.navbar-links {
    height:100%;
    background-color: var(--one)
}
.navbar-links ul {
    display: flex;
    padding: 0;
    margin-top: 2vh;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: var(--white);
    padding:0.5em;
}
/*Make the links be underlined while mousepointer hovers over it*/
.navbar-links li:hover {
    text-decoration: underline;
}
/*Above Validated 18:11 13/09/2022*/
.mobilemenu {
    position: absolute;
    top:0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.mobilemenu .cup {
    height: 40px;
    width: 100%;
    background-color:var(--three);
    border-radius: 40%;
}

/*Below configures the mobile navbar*/
@media screen and (min-width: 360px) and (max-width:500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }    
    .navbar-links {
        display:none;
        width:100%;
        height:20vh;
    }
    .mobilemenu {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
        height: 20vh;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links.active {
    display: flex;
    background-color: var(--two);
    }
    /*This line makes the text on the page smaller to fit the mobile screen better*/
    #usp-text {
        font-size: 90%;
    }
    .erbjuds {
        grid-template-columns: 1fr;
    }
}

/*4. Hero Section*/
/*Below I determin the background of the page aswell as the position and details of the background image*/
.hero-image {
    background-image: url(img/cafébackground.jpg);
    height:120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:var(--white)
}
.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
}
/*Above Validated 13/09/2022 18:58*/

/*5. Offer Grid*/
.erbjuds {
    width: 100%;
    margin: 0;
    padding: 0;
}
.offersgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    text-align: center;
}
.huvudtitel {
    text-align: center;
    color: var(--white);
}
.titel {
    color: var(--white);
}
.text {
    color: var(--white);
}
/*6. Meny grid*/
.meny {
    background-image: url(img/MenyBakgrund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.coffeemugsmall {
    display: none;
}
.coffeemug {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}

.dryck h2 {
    color: var(--white);
    margin-top: 2vh;
    margin-left: 1.5em;
}
.snacks h2 {
    color: var(--white);
}
.menudrinks {
    display: flex;
    color: var(--white);
    justify-content: left;
}
.menusnacks {
    display: flex;
    color: var(--white);
    justify-content: right;
}
.menudrinks h3, .menusnacks h3 {
    margin-right: 2em;
}

/*7. Contactform styling*/
.contact-title {
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;

}
.contactbox {
    display: flex;
    background-image: url(img/contactformbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 25vh;
    margin-left: 60em;
    margin-right: 60em;
 }
 .inputrow {
    display: flex;
    width: 100%;
 }
 .inputtopics {
    display: flex;
    width: 50%;
    margin-left: 15px;
 }
 .input-message {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.input-messagesmall {
    display: none;
}
.sendbutton {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
}
/*8. Footer styling*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
/*9. Media querries*/
@media screen and (min-width:360px) and (max-width:900px) {
    .offersgrid {
        grid-template-columns: 1fr;
    }
    .huvudtitel {
        margin-top: 2vh;
    }
    .menygrid {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .menudrinks, .menusnacks {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dryck h2, .snacks h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .coffeemug {
        display: none;
    }
    .coffeemugsmall {
        display: flex;
        justify-content: flex-end;
        margin-right: 2em;
    }
    .contactbox {
        width: 95%;
        margin: auto;
    }
    .inputrow {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .input-message {
        display: none;
    }
    .inputtopics {
        display: flex;
    }
    .input-messagesmall {
        display: flex;
        margin-top: 5px;
    }
}
@media screen and (min-width:980px) {
    .menygrid {
        margin-right: 40rem;
        margin-left: 40rem;
    }
    .offersgrid {
        margin-left: 30rem;
    }
    .menudrinks, .menusnacks {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dryck h2, .snacks h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .coffeemugsmall {
        display: none;
    }
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .contactbox {
        display: flex;
        width: 40%;
    }
    .inputtopics {
        display: flex;
        justify-content: space-between;
    }
}
/*Above Valdiated 20/09/2022 17:05 with 0 errors*/